@model marmuz_site_v1.Models.Comment

    <div id="idCommentDelete_1">

        <h3 class="py-2">Вы действительно хотите удалить ваш отзыв?</h3>

        <hr>
        <div class="row d-flex justify-content-between">
            <div class="col-xs-12 col-md-2 col-lg-1">
                <p>Имя: @Html.DisplayFor(model => model.User.ClientName)</p>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-1">
                <p>Компания: @Html.DisplayFor(model => model.User.CompanyName)</p>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-1">
                <p>Дата: @Html.DisplayFor(model => model.Date)</p>
            </div>
        </div>

        <div class="row">
            <div class="col pt-4">
                @Html.DisplayFor(model => model.Text)
            </div>
        </div>
        <hr>




        <div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">

                    <div class="col-xs-12 col-md-1 col-lg-1 p-2">
                        @Html.ActionLink("Назад", "Index", routeValues: null, htmlAttributes: new { @style = "font-size: 1em", @class = "btn btn-dark" })
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1 p-2">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>

                </div>

            }

        </div>

    </div>

